$font1: 'Inter', sans-serif;
$font2: 'Crimson Text', serif;
$font3: 'Courgette', cursive;

$escala-xx-plus: 16rem; // 256
$escala-xplus: 8rem; // 128
$escala-plus: 4.5rem; // 72
$escala-xx-gg: 4rem; // 64
$escala-xgg: 3rem; // 48
$escala-gg: 2rem; // 32
$escala-g: 1.5rem; // 24
$escala-m: 1.25rem; // 20
$escala-p: 1rem; // 16
$escala-pp: 0.875rem; // 14
$escala-xpp: 0.75rem; // 12
$escala-xxpp: 0.625rem; // 10

$primary-color-1: rgb(255, 238, 216);
$primary-color-2: rgb(202, 164, 113);
$primary-color-3: rgba(250, 205, 146, 0.575);

$neutral-color-1: #F2F2F2;
$neutral-color-2: #D9D9D9;
$neutral-color-3: #808080;
$neutral-color-4: #333333;
$neutral-color-5: #262626;
$neutral-color-6: #1A1A1A;
$neutral-color-7: #0D0D0D;