#main_home{
    #main_introducao{
        width: 70%;
        margin: auto;
        text-align: center;

        h2{
            padding: 40px;
        }

        picture{
            position: relative;
            display: inline;
            
            img{
                width: 50%;
                padding: 10px;
            }

            figcaption{
                position: absolute;
                bottom: 0px;
                left: 10px;
                background-color: rgb(22, 22, 22);
                color: white;
                width: 40%;
                padding-inline: 2px;
                font-size: $escala-m;
                border-radius: 5%;
            }

            @media (max-width: 600px) {
                display: block;

                img {
                    width: 80%;
                    padding: 10px;
                }
            }
        }

        p{
            padding: 40px;
            font-style: italic;
            width: 50%;
            margin: auto;
        }
    }

    #main_sobre{
        margin: $escala-m 0;
        padding-bottom: $escala-gg;
        text-align: center;
        background-color: $primary-color-3;
        
        #conteudo_sobre{
            display: flex;
            width: 70%;
            margin: auto;
            padding-block: $escala-xxpp;

            .sobre_item{
                padding-inline: $escala-m;
                text-align: center;

                i{
                    font-size: $escala-plus;
                    padding: $escala-xxpp;
                }

                h2{
                    padding: $escala-m;
                }

                p{
                    text-align: center;
                }
            }
        }

        button{
            background-color: rgba(255, 232, 201, 0);
            border: 5px double $primary-color-2;
            padding: $escala-p $escala-m;
            margin-top: $escala-m;
        }
        button:hover{
            background-color: $primary-color-2;
            border: 5px double rgb(255, 238, 216);
            color: rgb(255, 238, 216);
        }
    }

    #main_restaurantes{
        width: 60%;
        margin: auto;

        .restaurante_item{
            display: flex;
            padding-block: $escala-m;
            
            img{
                width: 370px;
            }
            picture{
                padding-right: $escala-gg;
            }
        }
    }
}

@media (max-width: 400px) {
    #main_home {
        #main_introducao {
            p{
                width: 100%;
                padding: 5px;
            }
        }
    }        
}