@use '../../globalStyles/variables/variables.scss' as *;

#navbar{
    display: flex;
    justify-content: space-between;
    background-color: $neutral-color-7;
    padding-inline: $escala-xplus;
    align-items: center;

    @media (max-width: 1100px){
        padding-inline: $escala-xpp;
    }
    // @media (max-width: 400px) {
    //     display: block;
    //     text-align: center;

    //     a {
    //         font-size: 10px;
    //         padding-inline: 0.2px;
    //         padding-block: 0.2px;
    //     }
    // }
    
    h2, #links_nav{
        padding: $escala-xpp;
        max-height: 100%;

        @media (max-width: 870px) {
            padding: $escala-xxpp;
        }
    }

    h2{
        color: $primary-color-1;
    }

    #links_nav{
        a{
            color: $primary-color-1;
            justify-content: space-between;
            padding-inline: $escala-gg;
            padding-block: $escala-p;

            @media (max-width: 870px) {
                padding-inline: $escala-m;
                padding-block: $escala-xpp;
            }
        }
        
        a:hover{
            background-color: $primary-color-2;
            color: $neutral-color-1;
        }        
    }
}

@media (max-width: 400px) {
    #navbar{
        padding: 0px;
        display: block;
        text-align: center;

        h2{
            padding: 2px;
        }
        #links_nav {
            padding: 2px;

            a{
                padding-inline: 10px;
            }
        }
    }
}