@use '../../globalStyles/variables/variables.scss' as *;

#main_footer{
    display: flex;
    background-color: $primary-color-3;
    justify-content: space-between;
    padding-block: $escala-m;
    padding-inline: $escala-xx-gg;
    
    p{
        color: $primary-color-2;
    }
    h1{
        color: $primary-color-1;
    }
}

@media (max-width: 1100px){
    #main_footer{
        padding: 15px 20px 5px 20px;
    }
}