#main_cardapio {
  margin-block: 2rem;
}
#main_cardapio #nav_categoria {
  justify-content: space-between;
  padding-block: 1.25rem;
  box-shadow: 0px 1px 4px rgba(250, 205, 146, 0.575);
  width: 34.2%;
  margin: auto;
}
#main_cardapio #nav_categoria a {
  color: #0D0D0D;
  padding-block: 1.25rem;
  padding-inline: 1.5rem;
  transition: 0.5s;
}
#main_cardapio #nav_categoria a:hover {
  color: #0D0D0D;
  background-color: #F2F2F2;
}
#main_cardapio #nav_categoria .active {
  background-color: rgb(255, 238, 216);
  padding-inline: 4.5rem;
}
#main_cardapio #container_cardapio {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-block: 3rem;
}
@media (max-width: 1165px) {
  #main_cardapio #container_cardapio {
    width: 90%;
  }
}
#main_cardapio #container_cardapio .main_filtro {
  width: 29%;
  height: 500px;
  background-color: transparent;
  border: 10px double rgba(250, 205, 146, 0.575);
  text-align: center;
  padding-inline: 2rem;
}
#main_cardapio #container_cardapio .main_filtro h1 {
  justify-content: start;
}
#main_cardapio #container_cardapio .main_filtro h3 {
  box-shadow: 0px 2px 0px rgba(250, 205, 146, 0.575);
}
#main_cardapio #container_cardapio .main_filtro .filtro_inputs {
  box-shadow: 0px 2px 0px rgba(250, 205, 146, 0.575);
}
#main_cardapio #container_cardapio .main_filtro .filtro_inputs .input {
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
}
#main_cardapio #container_cardapio .main_filtro .filtro_inputs .input i {
  color: rgb(155, 155, 155);
}
#main_cardapio #container_cardapio .main_produtos {
  width: 68%;
}
#main_cardapio #container_cardapio .main_produtos h1 {
  padding-bottom: 1rem;
  text-transform: capitalize;
  color: rgb(202, 164, 113);
}
#main_cardapio #container_cardapio .main_produtos .produtos {
  flex-wrap: wrap;
  display: flex;
  gap: 2rem;
}
#main_cardapio #container_cardapio .main_produtos .produtos .produto {
  position: relative;
}
#main_cardapio #container_cardapio .main_produtos .produtos .produto img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1030px) {
  #main_cardapio #container_cardapio .main_produtos .produtos .produto img {
    width: 250px;
    height: 150px;
  }
}
@media (max-width: 880px) {
  #main_cardapio #container_cardapio .main_produtos .produtos .produto img {
    width: 350px;
    height: 230px;
  }
}
#main_cardapio #container_cardapio .main_produtos .produtos .produto figcaption {
  position: absolute;
  bottom: 2rem;
  background-color: rgba(250, 205, 146, 0.575);
  width: 40%;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  padding-inline: 10px;
  padding-block: 5px;
}
#main_cardapio #container_cardapio .main_produtos .produtos .produto p {
  padding-top: 10px;
  font-size: 1.25rem;
  font-family: "Courgette", cursive;
  color: rgb(202, 164, 113);
}

@media (max-width: 400px) {
  #main_cardapio #nav_categoria {
    width: 70%;
  }
  #main_cardapio #nav_categoria a {
    padding-inline: 11px;
    padding-block: 16px;
  }
  #main_cardapio #nav_categoria a.active {
    padding-inline: 15px;
  }
  #main_cardapio #container_cardapio {
    display: block;
  }
  #main_cardapio #container_cardapio .main_filtro {
    width: 100%;
  }
  #main_cardapio #container_cardapio .main_produtos {
    width: 100%;
  }
}/*# sourceMappingURL=Cardapio.css.map */