@use '../../globalStyles/variables/variables.scss' as *;

#main_cardapio {
    margin-block: $escala-gg;

    #nav_categoria{
        justify-content: space-between;
        padding-block: $escala-m;
        box-shadow: 0px 1px 4px $primary-color-3;
        width: 36.5%;
        margin: auto;

        a{
            color: $neutral-color-7;
            padding-block: $escala-m;
            padding-inline: $escala-g;
            transition: 0.5s;
        }
        a:hover{
            color: $neutral-color-7;
            background-color: $neutral-color-1;
        }
        .active{
            background-color: $primary-color-1;
            padding-inline: $escala-plus;
        }
    }

    #container_cardapio{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;
        margin-block: $escala-xgg;

        @media (max-width: 1165px) {
            width: 90%;
        }

        .main_filtro{
            width: 29%;
            height: 500px;
            background-color: transparent;
            border: 10px double $primary-color-3;
            text-align: center;
            padding-inline: $escala-gg;

            p{
                justify-content: start;
            }
            h3{
                box-shadow: 0px 2px 0px $primary-color-3;
            }

            .filtro_inputs{
                box-shadow: 0px 2px 0px $primary-color-3;
                
                .input {
                    padding-block: 10px;
                    display: flex;
                    justify-content: space-between;
                
                    i{
                        color: rgb(155, 155, 155);
                    }
                }
                .input:hover{
                    color: $primary-color-2;
                }
                input[type="radio"] {
                    -webkit-appearance: none; // estilo baseado no sistema operacioanl
                    border: 4px double $primary-color-2;
                    border-radius: 10px;
                    width: 15px;
                    height: 15px;
                }

                input[type="radio"]:checked {
                    background-color: $primary-color-3;
                    border: 1px solid ;
                }
            }

        }

        .main_produtos{
            width: 68%;

            h1{
                padding-bottom: $escala-p;
                text-transform: capitalize;
                color: $primary-color-2;
            }
            
            .produtos{
                flex-wrap: wrap;
                display: flex;
                gap: $escala-gg;
                
                .produto{
                    position: relative;
                    overflow: hidden;
                    
                    img{
                        width: 300px;
                        height: 200px;
                        object-fit: cover;
                        transition: 0.5s;

                        @media (max-width: 1030px) {
                            width: 250px;
                            height: 150px;
                        }
                        @media (max-width: 880px) {
                            width: 350px;
                            height: 230px;
                        }
                    }
                    img:hover{
                        overflow: hidden;
                        transform: scale(1.1);
                    }
                    figcaption{
                        position: absolute;
                        bottom: $escala-gg;
                        background-color: $primary-color-3;
                        width: 40%;
                        text-align: center;
                        font-size: $escala-m;
                        font-family: $font1;
                        padding-inline: 10px;
                        padding-block: 5px;
                    }
                    p{
                        padding-top: 10px;
                        font-size: $escala-m;
                        font-family: $font3;
                        color: $primary-color-2;
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    #main_cardapio{
        #nav_categoria {
            width: 70%;
            a{
                padding-inline: 11px;
                padding-block: 16px;
            }
            a.active{
                padding-inline: 15px;
            }
        }

        #container_cardapio {
            display: block;

            .main_filtro {
                width: 100%
            }
            .main_produtos {
                width: 100%;
            }
        }
    }
}